

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* Navbar */
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:grey;
  position: sticky;
  top:0;
}

.navbar ul{
  display: flex;
  list-style: none;
  margin: 20px 0px;
  color: rgb(117, 7, 7);

}

.navbar ul li{
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(117, 7, 7);
  font-weight: bold;
}

.navbar ul li a{
  color:rgb(50, 11, 11) ;
  padding: 5px;

}

.navbar ul li a:hover{
  background-color: antiquewhite;
  color:chocolate;

}

/*Home Section*/
