h1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  font-size: 30px;
  text-align: center;
 color: rgb(44, 13, 131);
 

}

ul {
  color: rgb(117, 7, 7);
}
ol{
  color: rgb(117, 7, 7);
}

body{
  background-color: antiquewhite;
  font-size: 15px;
  padding: 10px;
  margin: 20px;
  text-align:left;
 
}
.Head{
  font-size: 20px;
  color:rgb(121, 54, 54);


}